<div class="panel panel-default">
    <div class="panel-body">

        <div class="row" ng-if="$ctrl.isImportPanel">
            <div class="col-lg-1">
                <div class="form-group">
                    <div class="input-group">
                        <div type="button" class="btn btn-primary"
                             ng-model="$ctrl.cashTransaction.toImport"
                             uib-btn-checkbox>
                            <i ng-if="$ctrl.cashTransaction.toImport"
                               class="glyphicon glyphicon-check"></i>
                            <i ng-if="!$ctrl.cashTransaction.toImport"
                               class="glyphicon glyphicon-unchecked"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon" uib-tooltip="description">
                            <i class="fa fa-file-text"></i>
                        </div>
                        <input type="text"
                               class="form-control"
                               name="description"
                               id="field_description"
                               ng-model="$ctrl.cashTransaction.description"
                               placeholder="description"
                               required ng-minlength="2"/>
                    </div>
                    <div ng-if="editForm.description.$invalid">
                        <p class="help-block"
                           ng-if="editForm.description.$error.required">
                            This field is required.
                        </p>

                        <p class="help-block"
                           ng-if="editForm.description.$error.minlength" translate-value-min="2">
                            This field is required to be at least 2 characters.
                        </p>

                        <p class="help-block"
                           ng-if="editForm.description.$error.maxlength">
                            This field cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon btn btn-default" uib-tooltip="transactionDate">
                            <i ng-click="$ctrl.openCalendar('transactionDate')"
                               class="glyphicon glyphicon-calendar"></i>
                        </div>
                        <input id="field_transactionDate"
                               type="text"
                               class="form-control"
                               name="transactionDate"
                               datetime-picker="{{dateformat}}"
                               ng-model="$ctrl.cashTransaction.transactionDate"
                               is-open="$ctrl.datePickerOpenStatus.transactionDate"
                               placeholder="transactionDate"
                               required/>
                    </div>
                    <div ng-if="editForm.transactionDate.$invalid">
                        <p class="help-block"
                           ng-if="editForm.transactionDate.$error.required">
                            This field is required.
                        </p>

                        <p class="help-block"
                           ng-if="editForm.transactionDate.$error.ZonedDateTimelocal">
                            This field should be a date and time.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon" uib-tooltip="type">
                            <i class="fa fa-tag"></i>
                        </div>
                        <selectize
                                placeholder="type"
                                config="{closeAfterSelect:true, valueField: 'type', labelField: 'text', searchField: ['text'], maxItems:1}"
                                ng-model="$ctrl.cashTransaction.type"
                                options="$ctrl.cashTransactionTypes"
                                required></selectize>
                    </div>
                    <div ng-if="editForm.type.$invalid">
                        <p class="help-block"
                           ng-if="editForm.type.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon" uib-tooltip="amount">
                            <i class="glyphicon glyphicon-euro"></i>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <input type="number"
                                       class="form-control"
                                       name="amount"
                                       id="field_amount"
                                       ng-model="$ctrl.cashTransaction.amount"
                                       placeholder="amount"
                                       required/>
                            </div>
                            <div class="col-lg-4">
                                <selectize
                                        placeholder="currency"
                                        config="$ctrl.selectizeCurrencyConfig"
                                        ng-model="$ctrl.cashTransaction.currencyId"
                                        options="$ctrl.cashCurrencies"></selectize>
                            </div>
                        </div>
                    </div>
                    <div ng-if="editForm.amount.$invalid">
                        <p class="help-block"
                           ng-if="editForm.amount.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="form-group">
                    <button type="button"
                            class="btn btn-primary"
                            name="multicurrency"
                            id="field_multicurrency"
                            ng-model="$ctrl.cashTransaction.multicurrency"
                            placeholder="multicurrency"
                            uib-btn-checkbox><i class="fa fa-fw fa-check-square-o"
                                                ng-if="$ctrl.cashTransaction.multicurrency"/> <i
                            class="fa fa-fw fa-square-o" ng-if="!$ctrl.cashTransaction.multicurrency"/>Multicurrency
                    </button>
                </div>
            </div>

        </div>

        <div class="row" ng-if="$ctrl.cashTransaction.multicurrency">

            <div class="col-lg-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon" uib-tooltip="convertedAmount">
                            <i class="glyphicon glyphicon-euro"></i>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <input type="number"
                                       class="form-control"
                                       name="convertedAmount"
                                       id="field_convertedAmount"
                                       ng-model="$ctrl.cashTransaction.convertedAmount"
                                       placeholder="convertedAmount"/>
                            </div>
                            <div class="col-lg-4">
                                <selectize
                                        placeholder="currency"
                                        config="$ctrl.selectizeCurrencyConfig"
                                        ng-model="$ctrl.cashTransaction.convertedCurrencyId"
                                        options="$ctrl.cashCurrencies"></selectize>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon" uib-tooltip="exchangeAccount">
                            <i class="glyphicon glyphicon-modal-window"></i>
                        </div>
                        <selectize
                                placeholder="exchangeAccount"
                                config="$ctrl.selectizeAccountConfig"
                                ng-model="$ctrl.cashTransaction.exchangeAccountId"
                                options="$ctrl.cashAccounts"></selectize>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon" uib-tooltip="outAccount">
                            <i class="glyphicon glyphicon-log-out"></i>
                        </div>
                        <selectize
                                placeholder="outAccount"
                                config="$ctrl.selectizeAccountConfig"
                                ng-model="$ctrl.cashTransaction.outAccountId"
                                options="$ctrl.cashAccounts"></selectize>
                    </div>
                    <div ng-if="editForm.outAccount.$invalid">
                        <p class="help-block"
                           ng-if="editForm.outAccount.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon" uib-tooltip="inAccount">
                            <i class="glyphicon glyphicon-log-in"></i>
                        </div>
                        <selectize
                                placeholder="inAccount"
                                config="$ctrl.selectizeAccountConfig"
                                ng-model="$ctrl.cashTransaction.inAccountId"
                                options="$ctrl.cashAccounts"></selectize>
                    </div>
                    <div ng-if="editForm.inAccount.$invalid">
                        <p class="help-block"
                           ng-if="editForm.inAccount.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
