<div>
    <div class="well">
        <h2>Cash Transactions</h2>
        <br/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary" ui-sref="cash-transaction-new">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span>
                        New
                    </span>
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" ui-sref="cash-transaction-importFile">
                        <span class="glyphicon glyphicon-upload"></span>
                        <span>
                        Import
                    </span>
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" ng-click="$ctrl.exportFile()">
                        <span class="glyphicon glyphicon-download"></span>
                        <span>
                        Export
                    </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="row" ng-show="$ctrl.filterAccount">
        <div class="col-md-4">
            <h3>Filter</h3>
            account : {{$ctrl.filterAccount.name}} <span class="glyphicon glyphicon-remove-circle"
                                                         ng-click="$ctrl.removeAccountFilter()"></span>
        </div>
    </div>
    <div class="text-center">
        <jhi-item-count page="$ctrl.page" query-count="$ctrl.queryCount" items-per-page="$ctrl.itemsPerPage"></jhi-item-count>
        <ul uib-pagination class="pagination-sm" total-items="$ctrl.totalItems" ng-model="$ctrl.page"
            ng-change="$ctrl.transition()"></ul>
    </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="$ctrl.predicate" ascending="$ctrl.reverse" callback="$ctrl.transition()">
                <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span>
                </th>
                <th jh-sort-by="transactionDate"><span>Transaction Date</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="type"><span>Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="type"><span>Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="type"><span>OutAcccount</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="type"><span>InAcccount</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cashTransaction in $ctrl.cashTransactions track by cashTransaction.id">
                <td>{{cashTransaction.description}}</td>
                <td>{{cashTransaction.transactionDate | date:'medium'}}</td>
                <td translate="{{'cashcashApp.CashTransactionType.' + cashTransaction.type}}">{{cashTransaction.type}}
                </td>
                <td ng-class="$ctrl.increaseAssets(cashTransaction) ? 'bg-success' : 'bg-danger'">
                    {{$ctrl.getPositiveSplit(cashTransaction).amount + ' ' +
                    $ctrl.getPositiveSplit(cashTransaction).currency.code}}
                </td>
                <td><a ng-click="$ctrl.addAccountFilter($ctrl.getNegativeSplit(cashTransaction).account.id)">{{$ctrl.getNegativeSplit(cashTransaction).account.name}}</a>
                </td>
                <td><a ng-click="$ctrl.addAccountFilter($ctrl.getPositiveSplit(cashTransaction).account.id)">{{$ctrl.getPositiveSplit(cashTransaction).account.name}}</a>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="cash-transaction-detail({id:cashTransaction.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="cash-transaction-edit({id:cashTransaction.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="cash-transaction-delete({id:cashTransaction.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
