<form name="editForm" role="form" novalidate ng-submit="$ctrl.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="$ctrl.clear()">&times;</button>
        <h4 class="modal-title" id="myCashTransactionLabel">Create or edit a CashTransaction</h4>
    </div>
    <div class="modal-body modal-body-custom">
        <jh-alert-error></jh-alert-error>
        <div ng-form="cashTransactionForm">
            <vue-component name="CashTransactionEditListVue"
                           vprops-cash-transactions="$ctrl.cashTransactionList"
                           vprops-cash-accounts="$ctrl.cashAccounts"
                           vprops-cash-currencies="$ctrl.cashCurrencies"
                           vprops-is-import-panel="true"/>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
